h3{
    margin: 0.1rem;
}
ul{
    margin: 0.1em;
    display: flex;
    list-style-type:circle;
}
li{
    margin-right: 1.2rem;
}
a{
    text-decoration: none;
    color: dimgrey;
}
a:hover{
    color: black;
}