<!-- header -->
<app-header></app-header>

<!-- main -->

<div class="container">
  <div class="search">
      <div class="top">
        <input matInput placeholder="Search" (keyup)="filterData($event)">
        <fa-icon [icon]="faSearch"></fa-icon>
      </div>
  </div>
  <table mat-table matSort [dataSource]="countries" class="mat-elevation-z8">
  
    <!-- Save to LS Column -->
    <ng-container matColumnDef="Save to LS">
      <th mat-header-cell *matHeaderCellDef>Save to LS</th>
      <td mat-cell *matCellDef>
        <input type="checkbox" />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name.common }}</td>
    </ng-container>

    <!-- alpha3Code Column -->
    <ng-container matColumnDef="cca3">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Alpha3Code</th>
      <td mat-cell *matCellDef="let element">{{ element.cca3 }}</td>
    </ng-container>

    <!-- Capital Column -->
    <ng-container matColumnDef="Capital">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Capital</th>
      <td mat-cell *matCellDef="let element">{{ element.capital }}</td>
    </ng-container>

    <!-- Population Column -->
    <ng-container matColumnDef="Population">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Population</th>
      <td mat-cell *matCellDef="let element">{{ element.population }}</td>
    </ng-container>

    <!-- Border Column -->
    <ng-container matColumnDef="Borders">
      <th mat-header-cell *matHeaderCellDef>Borders</th>
      <td mat-cell *matCellDef>
        <button>Borders</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50]"
    >
    </mat-paginator>
</div>

<!-- footer -->
<app-footer></app-footer>
