app-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: -webkit-fill-available;
  margin-top: 0px;
  height: 2.5rem;
}

.top{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}
fieldset{
  display: flex;
  align-items: center;
  justify-content: center;
}
fieldset button{
  border-radius: 12px;
}

/* table */


tr:nth-child(even) {
  background-color: #bbbbbb81;
}
tr:nth-child(odd) {
  background-color: #ffffff79;
}

.container{
  display: flex;
  flex-direction: column;
}

.search{
  margin-top: 10px;
}

app-footer {
  display: flex;
  background-color: rgb(92 183 156 / 46%);
  width: -webkit-fill-available;
  height: 3rem;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-width: 1.5px;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
}
