<!-- header -->
<app-header></app-header>

<!-- main -->

<div class="container">
  <div class="search">
      <div class="top">
        <input matInput placeholder="Search" (keyup)="filterData($event)">
        <fa-icon [icon]="faSearch"></fa-icon>
      </div>
  </div>
  <table mat-table matSort [dataSource]="countries">
  
    <!-- Save to LS Column -->
    <ng-container matColumnDef="Save to LS">
      <th mat-header-cell *matHeaderCellDef>Save to LS</th>
      <td mat-cell *matCellDef="let element">
      <script>let ch=document.getElementById('check').Checked;
      checked=ch;</script> 
        <input (change)="saveToLocal(element,$event.target)" type="checkbox" id="check" [defaultChecked]="false"/>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- alpha3Code Column -->
    <ng-container matColumnDef="cca3">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Alpha3Code</th>
      <td mat-cell *matCellDef="let element">{{ element.cca3 }}</td>
    </ng-container>

    <!-- Capital Column -->
    <ng-container matColumnDef="capital">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Capital</th>
      <td mat-cell *matCellDef="let element">{{ element.capital }}</td>
    </ng-container>

    <!-- Population Column -->
    <ng-container matColumnDef="population">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Population</th>
      <td mat-cell *matCellDef="let element">{{ element.population }}</td>
    </ng-container>

    <!-- Border Column -->
    <ng-container matColumnDef="Borders">
      <th mat-header-cell *matHeaderCellDef>Borders</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog(element.borders)">Borders</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <mat-paginator #paginator
      [pageSizeOptions]="[10, 20, 50]"
    >
  </mat-paginator>
</div>

<!-- footer -->
<app-footer></app-footer>
