table {
  float: left;
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 0.5px;
  width: 150px;
  margin-top: 10px;
}
tr {
  text-align-last: center;
  margin-bottom: 5px;
}
th {
  color: rgb(92 183 156 / 46%);
  border-bottom: dashed;
  margin-bottom: 15px;
  color: black;
}
